h3
{
    color: blueviolet;
    font-weight: bolder;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
    background-color: rgb(235, 212, 245);
}

h4
{   font-weight: bolder;
    font-size: larger;
    color: darkorchid;
    text-decoration: underline;
}
p
{
    color: rgb(69, 69, 117);
    font-size: medium;
}